In [1]:
import pandas as pd
import numpy as np
import os

In [3]:
master_df = pd.DataFrame()

In [11]:
for file in os.listdir (os.getcwd()):
    if file.endswith('.csv'):
       master_df = master_df.append(pd.read_csv(file),ignore_index=True)

master_df.to_csv('Saled.csv', index=False)

AttributeError: 'DataFrame' object has no attribute 'append'

In [13]:
for file in os.listdir (os.getcwd()):
    if file.endswith('.csv'):
        master_df = pd.concat([master_df, pd.read_csv(file)], ignore_index=True)

In [15]:
master_df.to_csv('Saled.csv', index=False)

In [17]:
df = pd.read_csv('Saled.csv')

In [21]:
df.head()

,Order ID,Product,Quantity Ordered,Price Each,Order Date,Purchase Address
0,150502,iPhone,1,700,02/18/19 01:35,"866 Spruce St, Portland, ME 04101"
1,150503,AA Batteries (4-pack),1,3.84,02/13/19 07:24,"18 13th St, San Francisco, CA 94016"
2,150504,27in 4K Gaming Monitor,1,389.99,02/18/19 09:46,"52 6th St, New York City, NY 10001"
3,150505,Lightning Charging Cable,1,14.95,02/02/19 16:47,"129 Cherry St, Atlanta, GA 30301"
4,150506,AA Batteries (4-pack),2,3.84,02/28/19 20:32,"548 Lincoln St, Seattle, WA 98101"